 .recent-container{
    background-color: white;
    padding: 2rem; 
    border-radius: 25px;
    border: 1px solid #cacad1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
 }
 .recent-table{
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
 }
 .recent-table thead{
   background-color: #f8fafc;
 }
 .recent-table th, .recent-table td {
   padding: 1.25rem 1rem;
   font-size: 16px;
   color: #172b4d;
 }
 .recent-table th{
   text-align: left;
   font-weight: 600;
   
   border-bottom: 1px solid #e1e6ed;
 }