.navbar-side {
    color: white;
    background-color: #0B2A4A;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-list{
    list-style: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}
.navbar-listitem{
    display: flex;
    gap: .5rem;
    line-height: 4rem;
    align-items: center;
    padding: 2.5%;
    box-sizing: border-box;
}
.navbar-listitem:hover, .bottom-logout:hover{
    cursor: pointer;
}
.bottom-logout:hover{
    background-color: #155AB6;
    border-radius: 3%;
}
.navbar-listitem.active {
    background-color: #155AB6;
    border-radius: 3%;
    transition: .25s;
}
.bottom-logout{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
}
.nav-divider{
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    height: 1px;
    border-radius: 22%;
}
