 .new-record{
    background-color: white;
    padding: 2rem;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #cacad1;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .new-record header{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .input-form{
    display: flex;
    flex-direction: column;
    gap: 45px;
 }
 .save-button{
    background-color: #155AB6;
    height: 70px;
    font-size: 28px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid  #5991da}

 .input-format{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-content: center;
    font-size: 24px;
    align-items: center;
 }
 .input-format input{
    width: 60%;
    height: 3.75rem;
    border-radius: 10px;
    border: 1px solid #cacad1;
    font-size: 24px;
    padding-left: 2%;
    
 }
 .testtube-color, .droplet-color, .droplets-color, .rflask-color{
    padding: .25rem;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testtube-color{
    background-color: rgb(221, 243, 211);
}
.droplet-color{
    background-color: #cfb8d6;
}
.rflask-color{
    background-color: #aed4e2;
}
.droplets-color{
    background-color: #99a1cc;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}