.navbar-side {
    color: white;
    background-color: #0B2A4A;
    height: 100vh;
    position: fixed;
}

.navbar-list{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}
.navbar-listitem{
    display: flex;
    gap: .5rem;
    line-height: 4rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}
.bottom-logout{
    margin-top: 2em;
}
.nav-divider{
    margin-top: 32em;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    height: 1px;
}