.navbar-side {
    color: white;
    background-color: #0B2A4A;
    height: 100vh;
}

.navbar-list{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}
.navbar-listitem{
    display: flex;
    gap: .5rem;
    line-height: 5rem;
    align-items: center;
    justify-content: center;
}
.bottom-logout{
    align-items: end;
}