.worksite-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.worksit-info{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    font-size: large;
}
.pool-photo{
    width: 350px;
    border-radius: 10px;
}
.worksite-select{
    padding: 5px 10px 10px 10px; 
}