.worksite-container{
    background-color: white;
    padding: 2rem;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #cacad1;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 .worksite-container select{
    height: 3.75rem;
    border-radius: 10px;
    border: 1px solid #cacad1;
    font-size: 24px;
    padding-left: 2%;
 }
.map-container{
    flex: 1;
    display: flex;
    min-height: 0;
}